<div *ngIf="!loaded" class="text-center m-5">
  <app-loading [size]="32"></app-loading>
</div>
<h1 *ngIf="loaded">
  {{ detail.Code }}
  <span> {{ detail.fiyat }}₺ </span>
  <span
    [ngClass]="
      detail.yuzde.indexOf('+') > -1
        ? 'text-success'
        : detail.yuzde.indexOf('-') > -1
        ? 'text-danger'
        : ''
    "
  >
    {{ detail.yuzde }}
  </span>
</h1>
<div *ngIf="loaded">
  {{ detail.Title }}
  <b>({{ detail.City }})</b>
</div>
<app-tradingview [code]="code" *ngIf="loaded"></app-tradingview>
<app-comment [code]="code" *ngIf="loaded"></app-comment>
