.comment {
  display: flex;
  flex-direction: row;
  margin: 5px 0 5px 0;
  padding: 1px 0 10px 0;
  border-bottom: 1px dotted #ffffff22;
}

.comment .avatar {
  width: 43px;
  height: 43px;
}

.comment .right {
  display: flex;
  flex-direction: column;
  padding: 0 5px 0 5px;
  width: 100%;
}

.comment .right .top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.comment .right .top .time {
  opacity: 0.75;
  font-size: 0.65em;
  flex: 1;
  text-align: right;
}

.comment .bottom .content .code {
  padding: 1px;
  border: 1px solid #ffffff22;
  background-color: #ffffff11;
  border-radius: 3px;
  opacity: 0.75;
}
