<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      {{ router.url === "/" ? "Borsa" : "&larr;" }}
    </a>
    <div class="d-flex">
      <a
        *ngIf="authService.Get().email !== ''"
        class="nav-link"
        href="#"
        routerLink="/profile"
        role="button"
      >
        <img
          [src]="authService.Get().photoUrl"
          class="avatar"
          style="width: 29px; margin-right: 3px"
          referrerpolicy="no-referrer"
        />
        {{ authService.Get().firstName }}
        {{ authService.Get().lastName }}
      </a>
      <a
        *ngIf="!(authService.Get().email !== '')"
        routerLink="/login"
        routerLinkActive="router-link-active"
        class="nav-link"
      >
        Giriş Yap
      </a>
    </div>
  </div>
</nav>
