<div class="row">
  <div class="col-md-8">
    <div class="card text-white bg-dark">
      <div class="card-header p-1">Yorumlar</div>
      <div class="card-body p-1">
        <div *ngIf="comments.length > 0">
          <div
            app-comment-row
            *ngFor="let comment of comments"
            [comment]="comment"
          ></div>
        </div>
        <div *ngIf="!(comments.length > 0)">
          <div class="text-center p-5">Henüz hiç yorum yapılmamış.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-dark" *ngIf="authService.Get().email !== ''">
      <div class="card-header p-1">Yorum Ekle</div>
      <div class="card-body p-1">
        <div class="mb-2">
          <img
            [src]="authService.Get().photoUrl"
            class="avatar"
            style="width: 29px; margin-right: 3px"
            referrerpolicy="no-referrer"
          />
          {{ authService.Get().firstName }}
          {{ authService.Get().lastName }}
        </div>
        <textarea
          class="form-control p-1"
          rows="3"
          style="height: 126px"
          (change)="commentTxtChange($event)"
          (keyup)="commentTxtChange($event)"
          (keydown)="commentTxtChange($event)"
          [value]="comment"
          placeholder="Yorumunuz..."
        ></textarea>
      </div>
      <div class="card-footer p-1">
        <input
          type="button"
          value="Yorum Yap"
          class="btn btn-primary float-end"
          (click)="submitComment()"
        />
      </div>
    </div>
    <div *ngIf="!(authService.Get().email !== '')">
      <div class="card text-white bg-dark">
        <div class="card-header p-1">Yorum Yap</div>
        <div class="card-body p-2">
          Yorum yazabilmek için lütfen
          <a routerLink="/login"> giriş yapınız </a>.
        </div>
      </div>
    </div>
  </div>
</div>
