<app-hisse></app-hisse>
<h1>BİST</h1>
<div class="input-group mt-2 mb-2">
  <span class="input-group-text">Ara</span>
  <input
    type="text"
    class="form-control"
    placeholder="Kod, Unvan, Şehir..."
    [(ngModel)]="f1"
  />
</div>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-sm">
    <tbody>
      <tr
        style="cursor: pointer"
        *ngFor="let item of bistService.Data | filterBistData : f1"
      >
        <td [routerLink]="'/detail/' + item.Code" class="w-75">
          <div>
            <b>
              {{ item.Code }}
            </b>
            {{ item.City }}
          </div>
          {{ item.Title }}
        </td>
        <td class="w-25 align-middle">
          <b
            class="btn btn-success btn-xs float-end"
            (click)="addPort(item.Code)"
            *ngIf="isAddPort(item.Code)"
          >
            Portföye Ekle
          </b>
        </td>
      </tr>
    </tbody>
  </table>
</div>
