<div class="input-group mt-2 mb-2">
  <span class="input-group-text">Ara</span>
  <input
    type="text"
    class="form-control"
    placeholder="Kod, Unvan, Şehir..."
    [(ngModel)]="f1"
  />
</div>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Kod</th>
        <th scope="col">Unvan</th>
        <th scope="col">Şehir</th>
      </tr>
    </thead>
    <tbody>
      <tr
        style="cursor: pointer"
        *ngFor="let item of bistService.Data | filterBistData : f1"
        [routerLink]="'/detail/' + item.Code"
      >
        <td>{{ item.Code }}</td>
        <td>{{ item.Title }}</td>
        <td>{{ item.City }}</td>
      </tr>
    </tbody>
  </table>
</div>
