body {
  opacity: 0;
  transition: opacity 1s linear;
  padding-bottom: 53px !important;
}

.navbar-brand {
  font-weight: 900;
}

.btn-xs {
  padding: 1px 5px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
}

.avatar {
  border-radius: 50%;
}
